#Title{
    display: flex;
    background: linear-gradient(rgb(48, 48, 48),rgb(199, 0, 0));
    justify-content: center;
    border: black 1px solid;
    border-radius: 5px;
    background-image: url(https://us.123rf.com/450wm/sukanda26/sukanda261604/sukanda26160400053/56113191-red-black-abstract-background.jpg?ver=6);
    background-size: cover;
    background-repeat: no-repeat;
}

#bigtitle {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 40px;
    letter-spacing: 0px;
    word-spacing: 3.2px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: None solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    }

#main{
    background-color: rgb(82, 82, 82) ;
    height: 1000px;
    border: black 1px solid;
    background-image: url(https://wallpaperaccess.com/full/6141369.jpg);
    width:90%;
    
}
#contentlmao{
    display :flex;
    justify-content:center;
    border: black 1px solid;
    border-radius: 5px;
    background-image: url(https://media.istockphoto.com/vectors/abstract-technology-background-with-red-and-black-metal-texture-on-vector-id1276466184?k=20&m=1276466184&s=612x612&w=0&h=NRTW4LOz-8gl-T4fkACk5XbcvqMhI-DKU-0isG73DX8=);
    background-size: contain;
}

#menu{
    background-image: url(https://t3.ftcdn.net/jpg/03/14/00/32/360_F_314003200_cpcQOPmFPigoxu1BoeIlPDCfe0X06y6Y.jpg);
    background-color: #333333;
    display: flex; 
    background-size: contain;
    justify-content: space-between;
    padding-right: 50px;  
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    
  }


.btn_menuacceuil{
    background-color:rgb(154, 154, 154);
	text-indent:0;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
	display:flex;
    justify-content: center;
	color:#333333;
	font-family:Arial Black;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:55px;
	line-height:30px;
	width:125px;
	text-decoration:none;
	text-align:center;
    border-radius: 5px;
    
}
.btn_menu {
	background-color:rgb(154, 154, 154);
	text-indent:0;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
	display:inline-block;
	color:#333333;
	font-family:Arial Black;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:30px;
	width:152px;
	text-decoration:none;
	text-align:center;
    border-radius: 5px;
}


.btn_menu:hover{
    color: rgb(87, 0, 0);
    border-radius: 20px;
    border-color: #000000;
    background-color: rgb(185, 0, 0);
}

.btn_menuacceuil:hover{
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgb(185, 0, 0);
    border-color: black;
    
}