.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: rgba(#000000, 0.8);
  width: 100%;
  height: 100%;
}

.form {
  z-index: 15;
  position: relative;
  background: #FFFFFF;
  width: 600px;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(#000000, .1);
  box-sizing: border-box;
  margin: 100px auto 10px;
  overflow: hidden;
}

.group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
}

.group:last-child {
    margin: 0;
}

label {
    display: block;
    margin: 0 0 10px;
    color: rgba(#000000, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;

}

input {
    outline: none;
    display: block;
    background: rgba(#000000, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(#000000, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    transition: 0.3s ease;
}

.group:focus {
        color: rgba(#000000, 0.8);
}


button {
    outline: none;
    background: #4285F4;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;

}

.panel {
    padding: 60px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;

    content: '';
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}


.Formheader {
    margin: 0 0 40px;
}

h1 {
    padding: 4px 0;
    color: #4285F4;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

from-group#Choix{
    
}
